.banner-title {
  transform: translateZ(35px);
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 24px;
  text-align: left;
  color: #8306b1;
}

.banner-subtitle {
  transform: translateZ(25px);
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  text-align: left;
  color: #8306b1;
}
.banner .Typewriter {
  justify-content: flex-start;
}
.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}
.banner {
  background: #000;
  border-radius: 15px;
  display: inline-block;
  perspective: 1800px;
  max-height: 50vh;
  padding: 40px;
  text-align: center;
  display: flex;
  -webkit-box-shadow: 0px 0px 16px 3px #8306b1;
  box-shadow: 0px 0px 16px 3px #8306b1;
  flex-direction: column;
  justify-content: center;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 800px;
}

.banner-subtitle-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .banner {
    min-width: 0px;
    background: transparent;
  }
  .banner-title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.5;
    transform: translateZ(0);
  }
  .banner-subtitle {
    font-size: 24px;
    transform: translateZ(0);

    line-height: 1.5;
    font-weight: 300;

    text-align: left;
  }
  .banner-subtitle-mobile {
  }
  .banner {
    transform: rotateX(0) rotateY(0);
  }

  .cursor-dot-outline,
  .cursor-dot {
    display: none;
  }
}
@media (max-width: 500px) {
  .banner-title {
    font-size: 30px;
  }
}
